.p-sidebar::-webkit-scrollbar{
    width:7px;
} 

.p-sidebar::-webkit-scrollbar-thumb{
    background: rgba(161, 161, 161, 0.479);
    border-radius: 5px;
}

// body::-webkit-scrollbar{
//     display: none;
// }


    