#section-pie{
    background-color: #000000f3;
    
    position: relative;
    }

.container{
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    /* padding: 80px 0; */
    max-width: 1200px;
}

.subtitle{
    color: #667eea;
    font-size: 2,5rem;
    margin-bottom: 35px;
}



/* FOOTER NEW */

.footer{
    /* background: var(--color-primary); */
    background: #151414;

    // padding-top: 101px;
    // padding-bottom: 60px;
}


/* ===================== */

 .svgFooterDiv{
    // background-color: green;
    height: 100px;
    width: 100%;
    // position: absolute;
    bottom: 97px;
    position: relative;
    z-index: 10;
}

 .svgReservaCita{
    fill: #151414;
}

/* ===================== */

.footer .contenedorFooter{
    display: flex;
    padding-bottom: 70px;
}

.footer .footerDown{
    background: #000;
}

.footer .col1{
    width: 50%;
    font-family: "Agency FB", sans-serif;
    color: white;
    font-size: 25px;
}

.footer .col2{
    width: 50%;
}

.footer .imgWhatsapp{
    padding: 0 10px;
}

.footer .footerDown{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: white;
    font-size: 13px;
    height: 90px;
}


/* END FOOTER NEW */

/* RESPONSICE DESIGN */

@media screen and (max-width: 1270px){
    footer p{
    margin-top: 12px;
    }

    .foot__links{
        margin-top: 15px;
    }    
}

@media screen and (max-width: 1000px){

    .grid-container{

    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 180px 60px 85px;


    grid-template-areas: 
        'logo logo logo'
        'item2 item3 item4'
        'line line line'
        'copy copy copy';
    }



}


@media screen and (max-width:800px){
    //  :root{
    //     --boton-padding: 18px 40px;
    //  }

     /* MENU */

     .checkBtn{
        display: block;
    }

    ul{
        position: fixed;
        /* width: 100%; */
        width: 300px;
        height: 100vh;
        background: #293347;
        top: 0px;
        left: -100%;
        display: grid;
        align-content: center;
        /* text-align: center; */
        transition: all .5s;
    }

    nav ul li{
        display: grid;
        float: left;
        margin: 5px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
        background: none;
        color: red;
    }

    #check:checked ~ ul{
        left: 0;
    }

     /* END MENU */

     .nav{
        justify-content: space-around;
     }
     
    .nav__items--cta{
        border: none;
    }

     .nav__items{
        font-weight: 400;
        border-bottom: 1px solid #fff;
        margin-right: 0;
     }

     .nav__items--footer{
        border: none;
     }


     /* ABOUT */

     .presentatio__copy{
        width: 100%;
     }

     .about{
        grid-template-columns: 1fr;
     }

     .about.container{
        padding-top: 30px;
     }

     .about__img--left{
        text-align: center;
     }

     .about__texts:last-child{
        grid-row: 3/4;
     }


    
    /* FOOTER */
    /* .footer__grid{
        grid-template-columns: 1fr;
    }

    .footer_contact{
        grid-row: 1/2;
    } */

    /* NEW FOOTER */
    .grid-container{

        grid-template-columns: auto auto;
        grid-template-rows: 200px 180px 180px 60px 85px;
        
        grid-template-areas: 
            'logo logo'
            'item2 item3'
            'item4 vacio'
            'line line'
            'copy copy';
    }

    .logo__footer{
        /* background-color: #ffffff; */
    }

    

    .item4 {
        margin-top: 5px;
    }

}

@media screen and (max-width: 680px){

    

}

@media screen and (max-width: 570px){

    

}

/* RES NEW FOOTER */
@media screen and (max-width: 560px){

    .grid-container{

    grid-template-columns: auto;
    grid-template-rows: 200px 195px 195px 195px 60px 85px;

    grid-template-areas: 
        'logo'
        'item2'
        'item3'
        'item4'
        'line'
        'copy';
    }

    .item3 {
        margin-top: 5px;
    }

    .logo-footer{
        text-align: center;
    }

    .foot__links{
        justify-content: center;
    }

}
/* END RES NEW FOOTER */

@media screen and (max-width: 543px){
    .grid-container{
    grid-template-rows: 225px 195px 195px 195px 60px 85px;
 }    
}

@media screen and (max-width: 500px){
    // :root{
    //     --boton-padding: 18px 35px;
    // }

    .subtitle{
        font-style: 2rem;
        margin-bottom: 20px;
    }

    .nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .nav__items{
        padding: 0 10px;
        border: 0;
    }

    /* ABOUT */

    .about{
        row-gap: 60px;        
    }

    .about.container{
        padding-top: 10px;
    }

    .about__texts{
        text-align: center;
    }

}