<!-- <footer class="footer">

  <div class="svgFooterDiv">
    <svg class="svgReservaCita" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 320"
      style="height: 100%; width: 100%;" transform="rotate(180)">
      <path fill="" fill-opacity="1"
        d="M0,160L60,149.3C120,139,240,117,360,133.3C480,149,600,203,720,192C840,181,960,107,1080,85.3C1200,64,1320,96,1380,112L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
      </path>
    </svg>
  </div>

  <div class="container contenedorFooter">

    <div class="col1">
      Consultorio Dental El Buen Samaritano <br>
      El Alto - La Paz - Bolivia
    </div>

    <div class="col2">
      <div class="follow">Siguenos en</div>

      <div class="imgSocial">
        <img class="imgFacebook" src="assets/img/web/fb.png" alt="" height="81px">
        <img class="imgWhatsapp" src="assets/img/web/ws.png" alt="" height="81px">
        <img class="imgTwitter" src="assets/img/web/twt.png" alt="" height="81px">
      </div>

    </div>

  </div>


  <div class="footerDown">
    © Copyright 2023 Company | Created by AMC
  </div>






  
  
  <div class="container grid-container">
    <div class="logo__footer">
      <div class="logo-footer">

        <a href="#" class="footer__enlace">
          <img src="./assets/img/TITLE-V2.png" alt="logo" class="logo">
        </a>

        <p>
          Viviendo, aprendiendo, & subiendo de nivel un día a la vez. 😁
        </p>

        <div class="foot__links">
          <li>
            <a href="">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
        </div>
      </div>
    </div>
    <div class="item2">
      <div class="footer-item">
        <i class="fa fa-phone foot-icon"></i>
        <h4 class="footer__title">
          Haz una llamada
        </h4>
        <p class="footer__desc">
          <a href="">
            +591 77202357
          </a>
        </p>
      </div>
    </div>
    <div class="item3">
      <div class="footer-item">
        <i class="fa fa-envelope foot-icon"></i>
        <h4 class="footer__title">
          Envia un Correo
        </h4>
        <p class="footer__desc">
          <a href="">
            alvaromch1015@gmail.com
          </a>
        </p>
      </div>
    </div>
    <div class="item4">
      <div class="footer-item">
        <i class="fa fa-map-marker foot-icon"></i>
        <h4 class="footer__title">
          Encuentrame
        </h4>
        <p class="footer__desc">
          <a href="">
            El Alto, LP BOLIVIA
          </a>
        </p>
      </div>
    </div>
    <div class="item5">
      <div class="footer__line">
      </div>
    </div>
    <div class="item6">
      <div class="copy-right">
        <p class="copy__desc">
          AlvaroMC © Copyright 2022.
        </p>
      </div>
    </div>
  </div>
 

  <nav class="nav--footer">
                <a href="" class="nav__items nav__items--footer">Inicio</a>
                <a href="" class="nav__items nav__items--footer">Sobre mi</a>
                <a href="" class="nav__items nav__items--footer">Mis Skills</a>
                <a href="" class="nav__items nav__items--footer">Proyectos</a>
            </nav>

            <section class="footer__contact">

                <h3 class="footer__title">Contactame</h3>

                <div class="footer__icons">

                    <span class="footer__container-icons">
                        <a class="fab fa-facebook-f footer__icon" href="#"></a>
                    </span>

                    <span class="footer__container-icons">
                        <a class="fab fa-whatsapp footer__icon" href="#"></a>
                    </span>

                    <span class="footer__container-icons">
                        <a class="fab fa-twitter footer__icon" href="#"></a>
                    </span>
                </div>
            </section>
            </div>


</footer>

 -->

<!-- ===================== PIE DE PAGINA =================================== -->

<!-- <footer id="section-pie" class="border-bottom border-secondary border-2">
  <div class="row ps-5 pt-5 pb-5" id="bg-pie">
    <div class="col">
      <span>Consultorio Dental El Buen Samaritano</span>
      <br>
      <span>El Alto - La Paz - Bolivia </span>
    </div>

    <div class="col">
      <a href="">
        <img src="assets/img/web/fb.png">
      </a>

      <img class="pe-2 ps-2" src="assets/img/web/ws.png" alt="">

      // <img src="assets/img/web/twt.png">
      <img src="assets/img/web/twt.png" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col  text-light my-auto" style="text-align: center; padding-bottom:20px;">
      <span>
        Derechos Reservados - Copyright &#9400;
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col  text-light my-auto" style="text-align: center; font-size:7px;">
      <span>Desarrollado por Alvaro Mamani Chambi</span>
    </div>
  </div>
</footer> -->

<!-- ===================== FIN PIE DE PAGINA =================================== -->
