<h1>PERFIL</h1>


<div class="card">
  {{ perfil | json }}
</div>

<div class="card">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum sunt dignissimos laboriosam architecto mollitia,
  pariatur minus id praesentium, ut, nemo maiores quasi? Beatae blanditiis eligendi voluptas ut corporis reprehenderit
  optio.
  Illo beatae corrupti ullam aliquam modi maiores, vel ipsa repellat commodi optio explicabo hic enim alias doloremque
  adipisci autem voluptatibus iure debitis eius dolore ex. Cumque necessitatibus maxime voluptas et.
  Voluptatem, delectus! Nulla similique amet maiores animi nobis dolorem culpa laboriosam repellat dolorum facilis a
  fugiat odio sint aliquam, asperiores, ipsum architecto officiis. Deserunt, excepturi? Omnis eveniet laboriosam sunt
  dolore.
  Assumenda rem eligendi, eum alias commodi illum quam mollitia cumque enim maiores quae sit dolorem veniam nihil sequi
  aliquam culpa. Cumque sint minima soluta maxime nisi quia tempora omnis? Itaque.
  Iure ipsum, vero recusandae debitis incidunt pariatur perspiciatis? Laborum, cum. Dolorem ipsa eaque exercitationem
  alias aperiam, dolore saepe non similique libero explicabo? Totam iure suscipit aperiam voluptates quis magni
  doloremque!
  Culpa aut delectus quod dignissimos officia, ullam, soluta ab eligendi tenetur eos perferendis quibusdam. Debitis
  voluptatibus maiores ratione modi doloribus iusto, nisi fugiat nobis rem pariatur dicta sed veritatis illum.
  Quibusdam excepturi, quas cumque porro iste, laboriosam nihil atque repellat expedita explicabo et itaque odit aut?
  Veniam corrupti, doloribus eum quas sint voluptatem temporibus deserunt, distinctio cumque possimus aut vero!
  Facere, ipsa corrupti. Reprehenderit sed impedit tenetur vel aliquam fuga laudantium obcaecati ullam perspiciatis ea
  modi, adipisci consequuntur expedita architecto natus quae dolore blanditiis! Temporibus aperiam quo id iure quos.
  Fugiat dolorum aspernatur doloremque natus veritatis non iure vel, tempore iusto mollitia, reiciendis quia id soluta
  vitae. Blanditiis a ipsam tempora corporis ratione fugit asperiores, tenetur, pariatur excepturi, sunt ipsum!
  Vel, tempore eligendi. Quo odio labore aliquid sapiente. Cupiditate magni assumenda excepturi aspernatur iste autem
  sint provident, ex nobis cum ut, hic eos dolor odio, labore debitis tempore qui laudantium.
  Voluptates, quo. Deserunt, provident fugiat aperiam odio qui vel a laborum quisquam. Voluptates officiis porro hic
  nisi minima! Fugiat culpa laboriosam voluptatibus nostrum assumenda molestiae animi ipsam maiores! Minima, iure!
  Enim esse numquam labore aperiam illum, quaerat odit sed et ad ratione consequatur corrupti corporis perferendis
  exercitationem nemo. Omnis nisi esse accusamus voluptates praesentium sunt id sequi obcaecati consectetur deleniti?
  Voluptatum voluptatibus nesciunt voluptatem ipsum, reiciendis eius nihil ab nostrum, excepturi vitae sunt quis?
  Delectus ab dicta at? Quo quam numquam porro facere veritatis odio itaque harum molestiae atque neque?
  Commodi in mollitia ab ea. Deleniti impedit officia optio rem, voluptatum nisi sapiente adipisci ut nemo quam eligendi
  soluta beatae reiciendis sit, repellendus vel. Numquam rerum similique eveniet commodi maxime.
  Omnis doloribus et atque tenetur exercitationem, recusandae illum quis laboriosam magni asperiores quae provident nam
  ab beatae sunt eligendi cupiditate. Tempora aspernatur enim delectus voluptate alias culpa dolor aperiam soluta.
  Aperiam, repellat quaerat doloremque mollitia quis, sapiente, unde nemo ratione eius laborum sunt consectetur minus ex
  hic? Accusamus accusantium, veritatis reprehenderit labore omnis voluptatem laboriosam, harum tenetur doloremque
  beatae incidunt?
  Quo quae cupiditate quam, modi, nulla, consequuntur ipsa facere laboriosam hic aliquid optio perferendis sit ex sunt
  earum? Iusto quisquam fuga ullam laboriosam dolorem nesciunt nihil voluptatem odit expedita. Hic.
  Illum similique quae eligendi hic dolorum? Accusantium, et? Iusto rerum architecto laboriosam itaque odit. Magnam
  repellat quae, ullam expedita nemo totam molestiae eos, illo enim ut eveniet doloribus sunt voluptas?
  Repudiandae maxime nesciunt neque pariatur placeat molestias repellat reiciendis magni perferendis iste laboriosam
  dolorem culpa, vero sequi. Distinctio aperiam nihil, qui autem quis, assumenda, commodi nemo iure quam fugiat
  explicabo.
  Totam perferendis fugit enim corrupti magni ea. Consectetur minima id praesentium ex consequatur eligendi debitis
  accusamus placeat, molestias mollitia, tempore dignissimos voluptates illum porro voluptate? Aliquam nesciunt
  veritatis doloribus ipsam!
  Quasi qui sunt delectus voluptates hic, debitis, laboriosam praesentium in ullam fuga labore omnis. Voluptatem
  veritatis officia illo alias voluptatum facere quo voluptas possimus ad sit! Temporibus earum omnis cum?
  Repellendus reiciendis nulla quis sed non cupiditate corporis dolor tempora vel recusandae eveniet minima, ad neque
  quibusdam, autem nam voluptas. Sapiente error nesciunt alias. Itaque debitis similique sed dolores eveniet.
  Distinctio similique recusandae rem consequatur cupiditate quos asperiores ducimus, animi eaque reiciendis quidem
  repellendus, illum odit cum ipsum tempora minima. Illo molestias porro aliquid quis enim nihil eligendi, dolorum
  omnis!
  Itaque fuga maiores ut. Eveniet voluptas fugiat minima quaerat cumque aspernatur repellendus doloribus impedit maiores
  iusto nobis suscipit, rerum vitae non a et provident, cum pariatur ipsa dolor perferendis. Dicta!
  Quae alias ipsam a rem illo aliquam iure ratione nam, porro qui voluptatum velit sed suscipit consectetur veniam
  illum, pariatur quasi similique reprehenderit explicabo? Praesentium illum obcaecati alias sint magni.
  A praesentium amet omnis dolorum iure repudiandae impedit ducimus debitis sit quo perferendis id, eaque animi voluptas
  magnam consequatur ullam labore autem. In commodi sapiente optio dolore ad magnam harum!
  Quo, corporis ratione aliquam fugit officia in mollitia rerum soluta, modi ex maiores obcaecati iusto repellat
  nesciunt veniam? Quasi possimus culpa dolores sit provident quidem similique aliquid at repudiandae vitae.
  Aperiam recusandae officia cumque accusantium ea unde. Tempore ad doloribus beatae fugiat nemo sint delectus, suscipit
  dolore, commodi numquam aliquam reiciendis amet similique voluptatibus. Repellendus voluptates rerum odio voluptatibus
  consequuntur!
  Nobis amet quidem vitae, enim quibusdam autem numquam, quis assumenda, quam magni animi. Beatae harum earum esse,
  debitis cum omnis atque, iure ut, assumenda ipsam ea officiis nihil repellendus a?
  Fugiat similique voluptas, explicabo qui modi voluptatibus sint inventore. Quaerat, labore magni. Omnis, incidunt.
  Quod facilis saepe unde aliquam quidem nam harum dolores reprehenderit, nesciunt, quam commodi exercitationem fugit
  deleniti!
</div>

<br>
<hr>
<input (click)="logout()" type="button" value="LOGOUT">
