.layout-sidebar::-webkit-scrollbar{
    width:7px;
} 

.layout-sidebar::-webkit-scrollbar-thumb{
    background: rgba(161, 161, 161, 0.479);
    border-radius: 5px;
}

// .layout-sidebar{
//     max-width: 100px;
// }

// .layout-main-container{
//     max-width: 50%;
// }